@value makerBlack, makerBlue2, makerWhite from '../../common/colors.css';

.button {
    background-color: makerBlue2;
    color: makerWhite;
    font-weight: bold;
    cursor: pointer; 
    padding: 0.5em;
    flex: 1 1 50%;
    font-size: 0.8rem;
    border: 1px solid makerBlack;
    border-left: 0;
    border-top: 0;
}

.button.blue {
    background-color: makerBlue2;
}

.button.red {
    background-color: makerLightPink;
}

.button:hover {
    opacity: 0.8;
}