@value makerBlack, makerWhite, makerLightGrey, makerColorful, makerPink, makerShadow from '../../common/colors.css';

.card {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 0.5em;
    margin-bottom: 1em;
    padding: 0.2em 0;
    box-shadow: 4px 3px 8px 0px rgba(173, 173, 173, 0.623);
    max-width: 30rem;
}

.card.light {
    background-color: makerWhite;
    color: makerBlack;
    border: 1px solid makerLightGrey;
}

.card.dark {
    background-color: makerBlack;
    color: makerWhite;
}

.card.colorful {
    background-image: makerColorful;
}

.avatar {
    width: 10em;
    height: 10em;
    padding: 1em;
    margin-left: 0.5em;
    margin-right: 1em;
    border-radius: 50%;
}

.info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.name, .company, .title, .email, .message {
    margin: 0;
    font-size: 0.8rem;
    margin-bottom: 0.2em;
}

.name {
    font-size: 1.2rem;
}

.company {
    position: relative;
    margin-bottom: 1em;
}

.company::after {
    /* position: absolute; */
    display: block;
    content: '';
    width: 90%;
    height: 2px;
    background-color: makerPink;
    transform: translateY(0.5em);
}