@value makerMain, makerWhite, makerBlack from '../../common/colors.css';

.header {
    position: relative;
    width: 100%;
    background-color: makerMain;
    padding: 0.5em 0;
    text-align: center;
}

.header img {
    width: 3em;
}

.title {
    font-size: 1.75rem;
    color: makerWhite;
}

.logout {
    position: absolute;
    font-size: 0.75rem;
    right: 1em;
    top: 1em;
    padding: 0.313rem;
    border-radius: 5px;
    background-color: makerBlack;
    color: makerWhite;
    outline: 0;
    border: 0;
    cursor: pointer;
}