@value makerGreen from '../../common/colors.css';
@value makerWhite from '../../common/colors.css';
@value makerBlack from '../../common/colors.css';

.header {
    position: relative;
    width: 100%;
    background-color:  makerGreen;
    padding: 0.5em 0;
}

.header img {
    width: 50px;
    height: 100%;
}

.title {
    font-size: 28px;
    color: makerWhite;
}

.logout {
    position: absolute;
    font-size: 0.75rem;
    right: 1em;
    top: 1em;
    padding: 0.313rem;
    border-radius: 5px;
    background-color: makerBlack;
    color: makerWhite;
    outline: 0;
    border: 0;
    cursor: pointer;
}